/*================================================
        CMS CSS FILE NAVIGATION
=================================================*/
/*      1. CSS FOR ALL FILES            */
/*      2. CSS FOR DASHBOARD            */
/*      3. CSS FOR USERMANAGEMENT       */
/*      4. CSS FOR EDITING USERS        */
/*      5. CSS FOR EDITING ARTICLES     */
/*      6. CSS FOR COPMANIE MANAGEMENT  */
/*      7. CSS FOR ARTICLE MANAGEMENT   */
/*      8. CSS FOR EDITING COMPANIES    */
/*      9. CSS FOR EDITING LINKS        */

/*==============================================================================
                        1. CSS FOR ALL FILES
==============================================================================*/
:root {
    --primary-color: #00B0FF;
    --secondary-color: #F5F5F5;
    --primary-color__darker: #0091EA;
    --primary-border: 1px solid #E0E0E0;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.white-text {
    color: #fff;
}

.navbar {
    background: var(--primary-color);
    margin-bottom: 14px;
}

.basic-button {
    background: var(--primary-color);
    transition: .5s ease;
    padding: 8px 28px;
    border: none;
    color: #ffffff;
    border-radius: 2px;
    float: right;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
}

.basic-button:hover {
    text-decoration: none;
    background: var(--primary-color__darker);
    color: #ffffff;
    cursor: pointer;
}

.back-to-site__button {
    padding: 8px 20px;
    color: #fff;
    border-radius: 4px;
    transition: .5s ease;
    background: #F44336;
    box-shadow: 0.5px 0.5px 3px 0.5px var(--primary-color__darker);
    text-transform: uppercase;
}

.back-to-site__button:hover {
    text-decoration: none;
    background: #D32F2F;
    color: #fff;
}

.basic-submit__button {
    background: var(--primary-color);
    padding: 10px 30px;
    border: none;
    color: #fff;
    float: right;
    margin-top: 8px;
    transition: .5s ease;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
}

.basic-submit__button:hover {
    color: #fff;
    background-color: var(--primary-color__darker);
}

/*==============================================================================
                        2. CSS FOR DASHBOARD
==============================================================================*/
.card {
    margin: 10px 0;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
}

.card-header {
    background: var(--primary-color);
}

.card-body span {
    float: right;
}

/*==============================================================================
                        3. CSS FOR USERMANAGEMENT
==============================================================================*/
.user-manage__button {
    width: 115px;
    text-align: center;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 2px;
    transition: .5s ease;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
}

.user-delete__button {
    background: #F44336;
}

.user-delete__button:hover {
    text-decoration: none;
    color: #fff;
    background: #C62828;
}

.give-user__icon {  
 color: #F44336;
}

.give-admin__icon {
    color: #4CAF50;
    transition: .5s ease;
}

.delete-user__icon {
    color: #F44336;
    transition: .5s ease;
}

.edit-user__icon {
    color: var(--primary-color);
    transition: .5s ease;
}

.give-user__icon:hover {
 color: #F44336;
}

.give-admin__icon:hover {
    color: #1B5E20;
}

.delete-user__icon:hover {
    color: #C62828;
}

.edit-user__icon:hover {
    color: var(--primary-color__darker);
}

.table {
    display: block;
}

.table-responsive {
    display: table;
}

.float-number__usercount {
    float: right;
}

.home-button {
    color: #fff;
    transition: .5s ease;
    float: right;
    font-size: 30px;
}

.home-button:hover {
    color: #E0E0E0;
}

.user-manage-add__button {
    background: #4CAF50;
    color: #fff;
    margin-bottom: 10px;
    padding: 12px 28px;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
    transition: .5s ease;
    text-transform: uppercase;
    float: right;
}

.user-manage-add__button:hover {
    background: #388E3C;
    text-decoration: none;
    color: #fff;
}

/*Mobile version for the user table*/
@media (max-width: 768px ) {
    .user-manage__button {
        margin: 3px 0;
    }
    .table-responsive {
        display: block;
    }
}

/*==============================================================================
                        4. CSS FOR EDITING USERS
==============================================================================*/
input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
    padding: 10px 20px;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
    width: 100%;
    margin: 5px 0;
}

label {
    text-transform: uppercase;
    width: 100%;
}

.submit-edit-user__button {
    padding: 12px 28px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background: var(--primary-color);
    color: #fff;
    transition: .5s ease;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
}

.edit-company-from-user__button {
    padding: 12px 28px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background: var(--primary-color);
    color: #fff;
    transition: .5s ease;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
    float: right;
    text-align: center;
}

.edit-company-from-user__button:hover {
    background: var(--primary-color__darker);
    color: #fff;
    text-decoration: none;
}

.submit-edit-user__button:hover {
    background: var(--primary-color__darker);
    color: #fff;
}

.card__article {
    height: 100px;
}

/*==============================================================================
                        5. CSS FOR EDITING ARTICLES
==============================================================================*/


.article-text__textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
}

/*==============================================================================
                        6. CSS FOR company MANAGEMENT
==============================================================================*/
.company-manage__button {
    width: 115px;
    text-align: center;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 2px;
    transition: .5s ease;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
}

.company-delete__button {
    background: #F44336;
}

.company-manage-add__button {
    background: #4CAF50;
    color: #fff;
    margin-bottom: 10px;
    padding: 12px 28px;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 3px 0.5px #E0E0E0;
    transition: .5s ease;
    text-transform: uppercase;
    float: right;
}
.company-manage-add__button:hover {
    background: #388E3C;
    text-decoration: none;
    color: #fff;    
}

.company-edit__button {

}

.company-edit__button:hover {
    
}

.company-delete__button {
    background: #F44336;
}

.delete-company__icon {
    color: #F44336;
    transition: .5s ease;
}

.edit-company__icon {
    color: var(--primary-color);
    transition: .5s ease;
}

.delete-company__icon:hover {
    color: #C62828;
}

.edit-company__icon:hover {
    color: var(--primary-color__darker);
}

.float-number-company__count {
    float: right;
}

/*==============================================================================
                        7. CSS FOR ARTICLE MANAGEMENT
==============================================================================*/

.top-article__button {
    padding: 12px 28px;
    background: var(--primary-color);
    border-radius: 2px;
    color: #fff;
    width: 200px;
    transition: .5s ease;
}

.top-article__button:hover {
    color: #fff;
    background: var(--primary-color__darker);
    text-decoration: none;
}

.create-article__button {
    padding: 12px 28px;
    background: #4CAF50;
    border-radius: 2px;
    color: #fff;
    transition: .5s ease;
}

.create-article__button:hover {
    color: #fff;
    background:#388E3C;
    text-decoration: none;
}

/*==============================================================================
                        8. CSS FOR EDITING COMPANIES
==============================================================================*/

.save-edit-company__button {
    padding: 12px 28px;
    border: none;
    color: #fff;
    background: var(--primary-color);
    transition: .5s ease;
    float: right;
    border-radius: 2px;
}

.save-edit-company__button:hover {
    background: var(--primary-color__darker);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/*==============================================================================
                        9. CSS FOR EDITING LINKS
==============================================================================*/
.link-center__flexbox {
    display: flex;
    justify-content: center;
}

.delete__button{
    background: red;
    float: left;
}