:root {
    --primary-color: #f2911f;
    --primary-color--light: #ffc253;
    --primary-color--dark: #ba6300;
    --text-color__dark: #212121;
    --text-color__link: #005cbf;
    --nav-color: #78909C;
}

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #fafafa;
}

nav {
    margin-bottom: 30px;
    background: var(--nav-color) !important;
    box-shadow: 0px 13px 18px -7px rgba(0,0,0,0.22);
    padding: 0 !important;
}

label {
    width: 100%;
}



.basic-button {
    background: var(--primary-color);
    color: #FFF;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    transition: .5s ease;
    width: 20%;
}

.basic-button:hover {
    background: var(--primary-color--light);
    text-decoration: none;
    color: #FFF;
}


.navbar-laravel {
    box-shadow: 0px 6px 8px -2px rgba(182, 182, 182, 0.7);
}

.navbar-brand img {
    height: 60px;
}

.nav-link {
    text-transform: uppercase;
    color: #fff !important;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0 15px;
    transition: .3s ease;
}

.nav-link:hover {
    opacity: .5 !important;
    color: #fff !important;
}

.nav-link:focus {
    outline: none;
}

.navbar-search {
    display: flex;
}

.navbar-search__input {
    padding: 10px;
    height: auto;
    border: none;
    border-radius: 1px 0 0 1px;
    width: 350px;
    box-shadow: inset 0 .25rem .125rem 0 rgba(0,0,0,.05);
}

.navbar-search__input:focus {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0125),0 0 8px rgba(34,138,230,.5);
}

.navbar-search__button {
    padding: 10px 15px ;
    border: none;
    margin: 0;
    background: #fafafa;
    border-radius: 0 1px 1px 0;
    transition: .3s ease;
}

.navbar-search__button:hover {
    background: #eee;
}

@media (max-width: 768px) {
    .navbar-search {
        display: none;
    }
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav .ml-auto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-profile {
    width: 48px;
    height: 48px;
    background-image: url(https://jboyecom.files.wordpress.com/2017/04/profile-icon-9.png?w=512);
    object-fit: cover;
    border-radius: 50%;
    background: #fff;
}

.login-screen {
    width: 99%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login-screen__image {
    background-image: url(../img/login-background.jpg);
    object-fit: cover;
    background-position: top;
    width: 40%;
    height: 100vh;
    box-shadow: inset 700px 700px 300px 200px rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px ) {
    .login-screen__image {
        display: none;
    }

    .login-screen__content {
        width: 95% !important;
    }

    .login-form {
        width: 100%;
    }

    .login-form__link {
        padding: 0;
    }
}



.login-screen__image--text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.login-screen__image img {
    margin: 4px;
    width: 50%;
}

.login-screen__image h1 {
    margin: 0 280px 150px 0;
    color: #fff;
}

.login-screen__content {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-screen__content--wrapper {
    display: block;
    width: 100%;
    max-width: 360px;
}

.login-form__input {
    width: 100%;
    height: auto;
    padding: 12px 24px;
    margin: 8px 0;
    border: 1px solid #eee;
}

.login-form__button--raised {
    background: var(--primary-color);
    border: none;
    width: 49%;
    border-radius: 3px;
    color: #fff;
    padding: 12px 28px;
    transition: .5s ease;
    text-transform: uppercase;
    font-size: 16px;
}

.login-form__button--flat {
    background: transparent;
    width: 49%;
    border: none;
    color: var(--text-color__link);
    text-align: center;
    text-transform: uppercase;
    transition: .5s ease;
    padding: 12px 25px;
    cursor: pointer;
}


.login-form__button--flat:hover {
    text-decoration: underline;
}

.login-form__button--raised:hover {
    background: var(--primary-color--light)
}

.login-form__button--flat--align {
    padding: 12px 0;
    background: transparent;
    width: 49%;
    border: none;
    color: var(--text-color__link);
    text-align: center;
    text-transform: uppercase;
    transition: .5s ease;
    cursor: pointer;
    margin: 10px 0;
}

.login-form__link {
    text-transform: uppercase;
    font-size: 14px;
    color: #005cbf;
    padding: 0 6px;
    transition: .5s ease;
}

.login-form__link:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color__dark)
}

.sort-button {
    background: var(--primary-color);
    width: 15%;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    transition: .5s ease;
    text-align: center;
    padding: 10px 10px;
    box-shadow: 0.5px 0.5px 3px 0.5px #EEEEEE;

}

.sort-button:hover {
    background: var(--primary-color--light);
}

.sort-button:focus {
    outline: none;
}

.paper-card {
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    margin: 10px 0;
    padding-bottom: 10px;
}

.paper-card h1 {
    padding: 30px 30px;
}

.searchresults-card {
    margin: 5px 0;
    box-shadow: 0.5px 0.5px 3px 0.5px #eee;
}

.home-subject__card {
    text-align: left;
    border-radius: 3px;
    border-bottom: 2px solid var(--primary-color);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.paper-card__image {
    position: relative;
    height: 140px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.paper-card__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px 3px 0 0;
}

.paper-card__image--article {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.paper-card__image--article img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px 3px 0 0;
}

.paper-card__title {
    padding: 10px 20px;
}

.paper-card__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0 20px;
}

.paper-card__link--button {
    justify-content: flex-end !important;
}

.paper-card__link a {
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    color: var(--text-color__link);
}

.read-more__button {
    padding: 12px 0;
    margin: 0;
    width: auto;
    height: auto;
    text-transform: uppercase;
    text-align: right;
    color: var(--primary-color) !important;
    font-weight: 500;
}

.home-subject__button {
    font-size: 14px;
    padding: 12px 20px;
}

.article-img {
    width: 85%;
    height: 70vh;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .24);
    border-radius: 3px;
}

.article-paragraph {
    padding: 5px 30px 30px 30px;
}

.back__button {
    text-transform: uppercase;
    padding: 10px 15px;
    color: var(--text-color__dark);
    cursor: pointer;
    transition: .1s ease;
}

.back__button:hover {
    color: var(--text-color__dark);
}

.back__button:focus {
    outline: none;
}


.weather-table {
    width: 100%;
}

.weather-table td {
    padding: 0 10px;
}

.weather-table__input {
    border: 1px solid #eee;
    margin: 10px 0;
    width: 79%;
}

.weather-table__button {
    border: 2px solid #fafafa;

}

.weather-table__subject {
    color: rgb(21, 43, 129);
}

.weather-table__header {
    padding: 10px;
}

.edit-user__input {
    width: 100%;
    height: auto;
    padding: 12px 24px;
    margin: 8px 0;
}

.edit-company__input {
    width: 100%;
    height: auto;
    padding: 12px 24px;
    margin: 8px 0;
}

.profile-edit__button {
    float: right;
}

.add-company__button {
    background: #4CAF50;
    width: 100%;
}

.add-company__button:hover {
    background: #388E3C;
}

.no-company__card {
    display: flex;
    justify-content: center;
    width: 100%;
}

.add-company__input {
    width: 100%;
    height: auto;
    padding: 12px 24px;
    margin: 8px 0;

}

.contact-icon {
    background: var(--primary-color);
    border-radius: 50%;
    padding: 14px;
    border: none;
    color:#FFFFFF;
    text-align: center;
    display: block;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    outline: none;
}

.contact-icon i {
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contact-form {
    display: block;
    position: fixed;
    width: 100%;
    max-width: 340px;
    height: auto;
    bottom: 120px;
    right: 40px;
    border-radius: 4px;
    background: var(--primary-color);
    padding: 20px 10px;
    opacity: 0.8 !important;
    z-index: 999999;

}

.contact-form textarea {
    width: 100%;
    padding: 8px 10px;
    resize: none;
    border: none;
    border-radius: 4px;
    margin: 5px 0px;
}

.contact-text {
    text-align: center;
    color: #FFFFFF;
}

.submit-button {
    border: 1px solid #FFFFFF !important;
    background: transparent !important;
    color: #FFFFFF !important;
    width: 50% !important;
    transition: .2s ease;
}

.hidden {
    display: none;
}

.linkbuy-form {
    display: block;
    width: 100%;

}

.linkbuy-form input, select {
    width: 50%;
    border: 1px solid #eee;
    padding: 12px 20px;
    margin: 1% 0% 0% 25%;
}

.linkbuy-button {
    background: var(--primary-color);
    color: #FFF;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    transition: .5s ease;
    width: 50%;
    margin: 1% 0% 0% 25%;
}

